body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  
  -moz-osx-font-smoothing: grayscale;
}

.malt {
  width: 30px;
  height: auto;
}

.skillsList{
  margin-top: 55px;
  width: 100%;
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: center !important;
}

.skillItem{
  min-width: 100px !important;
  margin: 0;
  padding: 5px;
}

.skilllogo{
  display: flex !important;
  flex-flow: column nowrap !important;
  justify-content: center;
  align-items: center;
  min-width: 100% !important;
  max-width: 125px;
  height: 125px !important;
}

.HTML5 {
  background-image: url('./images/capture_code.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.CSS3 {
  background-image: url('./images/capture_CSS.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.JavaScript {
  background-image: url('./images/capture_JS.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.React {
  background-image: url('./images/capture_react.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.Node {
  background-image: url('./images/capture_node.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.MySQL {
  background-image: url('./images/capture_mysql.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Scrum {
  background-image: url('./images/capture_scrum.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Python {
  background-image: url('./images/capture_python.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Swift {
  background-image: url('./images/capture_swift.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.WordPress {
  background-image: url('./images/capture_wordpress.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.WordPress h1 {
  background-color: aliceblue !important;
  border-radius: 30%;
}

.Angular {
  background-image: url('./images/capture_Angular.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.vide{
  background-image: url('./images/capture_blanc2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.HTML5 h1, .CSS3 h1, .React h1, .Node h1, .MySQL h1, .Angular h1 {
  color: aliceblue;
}

.bgcomp {
  border-radius: 10%;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.item-img {
      max-height: 85%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 767px) {
  .vide{
    background-image: url('./images/capture_blanc2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgcomp {
    border-radius: 0;
    background-position-x: 15%;
    background-position-y: 12%;
}
  .Scrum{
    background-size: initial;
    background-position-y: 77%;
  }

  .JavaScript{
    background-size: initial;
    background-position-y: 24%;
  }

  .item-img {
      max-height: 400px;
   }

}